<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://foiknjiznicaazurefunkcije.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a4c5fc9e-db15-4e05-a33f-3b7f37e5df2d/resourcegroups/foiknjiznica/providers/Microsoft.Web/sites/FOIKnjiznicaAzureFunkcije</ResourceId>
    <UserName>$FOIKnjiznicaAzureFunkcije</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://foiknjiznicaazurefunkcije.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>