<div class="jumbotron">
    <h1 style="color: #ae2323;">Uspješna prijava</h1>
    <p class="lead">Uspješno ste se prijavili, molimo pričekajte do učitavanja aplikacije!</p>
</div>
<div class="col-md-4">
    <div> 
        <p id="test" style="color: #ae2323; font-size=15">@ViewBag.Message</p> 
    </div>
    
    <script type="text/javascript">
        var userId = "";
        function upisiId() {
            return userId = document.getElementById("test").innerHTML;
        }
    </script>
</div>
